<!DOCTYPE html>
<html>

<title>Stock Data</title>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 7px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h2>Stock Data</h2>
    <table>
        <tr>
            <th>SL.</th>
            <th>Product Name</th>
            <th>Product Model</th>
            <th>Sale Price</th>
            <th>Purchase Price</th>
            <th>In Quantity</th>
            <th>Out Quantity</th>
            <th>In Stock</th>
            <th>Sale Price</th>
        </tr>
        {% for item in stock %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.product.product_name }}</td>
            <td>{{ item.product.product_model }}</td>
            <td>{{ item.sale_price }}</td>
            <td>{{ item.purchase_price }}</td>
            <td>{{ item.in_qnty }}</td>
            <td>{{ item.out_qnty }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.sale_price }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>