<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesAccount" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
        <span>Account</span></a>
    </a>
    <div id="collapsePagesAccount" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="login.html">Customer Receive</a>
            <a class="collapse-item" href="login.html">Cash Adjustment</a>
            <a class="collapse-item" href="login.html">Vouchar Approval</a>
            <a class="collapse-item" href="login.html">Supplier Payment</a>

        </div>
    </div>
</li>