<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesDamage" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-tram"></i>
        <span>Damage</span></a>
    </a>
    <div id="collapsePagesDamage" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'add_damage' %}">Add Damage</a>
            <a class="collapse-item" href="{% url 'damage_list' %}">Manage Damage</a>
        </div>
    </div>
</li>