<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesExpense" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fa fa-credit-card fa-2x text-gray-300"></i>
        <span>Expense</span></a>
    </a>
    <div id="collapsePagesExpense" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'expense_item' %}">Expense Item</a>
            <a class="collapse-item" href="{% url 'add_expense' %}">Add Expense</a>
            <a class="collapse-item" href="{% url 'manage_expense' %}">Manage Expense</a>
            <a class="collapse-item" href="{% url 'expense_category' %}">Expense Category</a>
            <a class="collapse-item" href="{% url 'expense_statement' %}">Expense Statement</a>
        </div>
    </div>
</li>