<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesHr" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-user-shield"></i>
        <span>HR</span></a>
    </a>
    <div id="collapsePagesHr" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="">Employee</a>
            <a class="collapse-item" href="">Payroll</a>
            <a class="collapse-item" href="">Attendance</a>
        </div>
    </div>
</li>