<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesOrder" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-shopping-cart fa-2x text-gray-300"></i>
        <span>Order</span></a>
    </a>
    <div id="collapsePagesOrder" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'add_order' %}">Add Order</a>
            <a class="collapse-item" href="{% url 'order_list' %}">Manage Order</a>
        </div>
    </div>
</li>