<li class="nav-item active">
    <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapsePagesProduct"
        aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-boxes"></i>
        <span>Product</span></a>
    </a>
    <div id="collapsePagesProduct" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'product_list' %}">Manage Product</a>
            <a class="collapse-item" href="login.html">Add Product</a>
            <a class="collapse-item" href="{% url 'create_unit' %}">Add Unit</a>
            <a class="collapse-item" href="{% url 'create_category' %}">Add Category</a>
            <a class="collapse-item" href="{% url 'category_list' %}">Category List</a>
        </div>
    </div>
</li>