<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesPurchase" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-shopping-cart"></i>
        <span>Purchase</span></a>
    </a>
    <div id="collapsePagesPurchase" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'add_purchase' %}">Add Purchase</a>
            <a class="collapse-item" href="{% url 'manage_purchase' %}">Manage Purchase</a>
            <a class="collapse-item" href="">Due Payment</a>
        </div>
    </div>
</li>