<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesQuotation" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-book"></i>
        <span>Quotation</span></a>
    </a>
    <div id="collapsePagesQuotation" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="login.html">Add Quotation</a>
            <a class="collapse-item" href="login.html">Manage Quotation</a>
        </div>
    </div>
</li>