<li class="nav-item active">
    <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapsePagesSale" aria-expanded="true"
        aria-controls="collapsePages">
        <i class="fas fa-hands-helping"></i>
        <span>Sale</span>
    </a>
    <div id="collapsePagesSale" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'sales_list' %}">Manage Sale</a>
            <a class="collapse-item" href="login.html">New Sale</a>
        </div>
    </div>
</li>