<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesService" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fab fa-servicestack"></i>
        <span>Service</span></a>
    </a>
    <div id="collapsePagesService" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'add_service' %}">Add Service</a>
            <a class="collapse-item" href="{% url 'manage_service' %}">Manage Service</a>
            <a class="collapse-item" href="login.html">Service Invoice</a>
            <a class="collapse-item" href="login.html">Manage Service Invoice</a>
        </div>
    </div>
</li>