<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesSettings" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-cogs"></i>
        <span>Settings</span></a>
    </a>
    <div id="collapsePagesSettings" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'profile' %}">My Account</a>
            <a class="collapse-item" href="{% url 'notifications' %}">My Notifications</a>
            <a class="collapse-item" href="">Connected Apps</a>
            <a class="collapse-item" href="{% url 'price_plans' %}">Plans</a>
            <a class="collapse-item" href="">Billing & Invoices</a>
        </div>
    </div>
</li>