<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesSettings" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-cogs"></i>
        <span>Settings</span></a>
    </a>
    <div id="collapsePagesSettings" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'profile' %}">My Account</a>
            <a class="collapse-item" href="{% url 'password_change' %}">Change Password</a>
            <!-- <a class="collapse-item" href="">Push Notifications</a>
            <a class="collapse-item" href="">Email and SMS</a> -->
            <a class="collapse-item" href="{% url 'privacy_and_security' %}">Privacy and Security</a>
            <a class="collapse-item" href="{% url 'login_activity' %}">Login Activity</a>
            <!-- <a class="collapse-item" href="">Connected Apps</a> -->
            <a class="collapse-item" href="{% url 'price_plans' %}">Plans</a>
            <!-- <a class="collapse-item" href="">Help</a> -->
        </div>
    </div>
</li>