<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesStock" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-chart-bar"></i>
        <span>Stock</span></a>
    </a>
    <div id="collapsePagesStock" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'stock_report' %}">Stock Report</a>
        </div>
    </div>
</li>