# Project build medadata that can't be used in docker
env
.circleci
.github
Dockerfile
.dockerignore
.git*
.flake8
.isort.cfg
assets

# Documentation not needed
CHANGELOG.md
LICENSE
README.md
docs
SECURITY.md