asgiref==3.6.0
asn1crypto==1.5.1
billiard==3.6.4.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cloudinary==1.32.0
constantly==15.1.0
cryptography==40.0.1
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.6
dj-database-url==0.5.0
Django==4.2
django-admin-volt==0.0.6
django-allauth==0.54.0
django-autoslug==1.9.9
django-ckeditor==6.5.1
django-cors-headers==3.14.0
django-countries==7.2.1
django-crispy-forms==2.0
django-defender==0.9.7
django-filter==21.1
django-import-export==3.2.0
django-js-asset==2.0.0
django-otp==1.1.6
django-phonenumber-field==7.0.2
django-simple-history==3.3.0
django-user-agents==0.4.0
django-zxcvbn-password==2.1.1
djangorestframework==3.14.0
docopt==0.6.2
et-xmlfile==1.1.0
idna==2.10
incremental==21.3.0
iniconfig==1.1.1
isort==5.9.3
lxml==4.9.2
MarkupPy==1.14
mccabe==0.6.1
msgpack==1.0.5
num2words==0.5.12
oauthlib==3.1.1
odfpy==1.4.1
openpyxl==3.1.2
oscrypto==1.3.0
pathspec==0.8.1
phonenumbers==8.12.57
Pillow==8.4.0
platformdirs==2.4.1
pluggy==0.13.1
prompt-toolkit==3.0.38
psutil==5.9.4
psycopg2==2.9.6
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
PyJWT==2.4.0
pyotp==2.6.0
pyparsing==2.4.7
PyPDF2==1.27.12
python-dotenv==0.19.2
python3-openid==3.2.0
pytz==2021.3
PyYAML==6.0
redis==3.5.3
regex==2022.3.15
requests==2.28.2
requests-oauthlib==1.3.1
roundrobin==0.0.4
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
swapper==1.3.0
tablib==3.4.0
tinycss2==1.2.1
toml==0.10.2
twisted-iocpsupport==1.0.3
txaio==21.2.1
typing_extensions==4.0.1
tzdata==2021.5
ua-parser==0.10.0
uritools==4.0.1
urllib3==1.26.15
urllib3-secure-extra==0.1.0
user-agents==2.2.0
vine==5.0.0
virtualenv-clone==0.5.7
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.1.2
whitenoise==5.3.0
xlrd==2.0.1
xlwt==1.3.0
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0
zxcvbn==4.4.28
