<!DOCTYPE html>
<html>

<title>Expense Data</title>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 7px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h2>Expense Data</h2>
    <table>
        <tr>
            <th>SL.</th>
            <th>Date</th>
            <th>Expense Type</th>
            <th>Amount</th>
        </tr>
        {% for item in expense %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.date}}</td>
            <td>{{item.expense_type}}</td>
            <td>{{item.amount}}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>