{% extends 'core/_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Change Password {% endblock title %}
{% block body %}
<div class="flex items-center justify-center">
<!-- component -->
<div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
    <div class="flex justify-center md:justify-end -mt-16">
      <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="{{ request.user.brand_logo.url }}">
    </div>
    <div>
        <h2 class="text-gray-800 text-2xl font-semibold">{{ request.user.owner_name }}</h2>
        <form method="POST" novalidate>
            <!-- Security token -->
            {% csrf_token %}
            {{ form|crispy }}
            <div class="flex justify-start mt-6">
                <button type="submit" class="px-2 py-2 leading-5 text-white transition-colors duration-200 transform bg-purple-500 bg-opacity-79 rounded-md hover:bg-black focus:outline-none focus:bg-gray-600">Change Password</button>
            </div>
        </form>
    </div>
    <div class="flex justify-end mt-2">
      <a href="#" class="text-sm hover:no-underline text-indigo-500">Forgot Password?</a>
    </div>
  </div>
</div>
{% endblock body %}