{% extends 'core/_base.html' %}
{% block title %} Company Profile Settings {% endblock title %}
{% load static %}
{% block body %}
<!-- Additional asteriskStyle  -->
<link href="{% static 'css/asteriskStyle.css' %}" rel="stylesheet">
<!--- Toast notification start -->
{% include 'core/info/backend_message.html' %}
<!--- Toast notification end -->

<section class="max-w-4xl p-6 mx-auto bg-purple-500 rounded-md shadow-md dark:bg-purple-500 mt-20">
    <h1 class="text-xl font-bold text-white capitalize dark:text-white">Company Profile Settings</h1>
    <form method="POST">
        <!-- Security token -->
            {% csrf_token %}
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2 text-white">
            <div>
                <label class="text-white dark:text-black" for="emailAddress">Email Address</label>
                <input name="email" id="emailAddress" type="email" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md dark:bg-black dark:text-black dark:border-black focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" value="{{ request.user.email }}">
            </div>
            
            <div>
                <label class="text-white dark:text-black required" for="Ownername">Owner name</label>
                <input name="owner_name" id="Ownername" type="text" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md dark:bg-black dark:text-black dark:border-black focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" value="{{ request.user.owner_name }}">
            </div>

            <div>
                <label class="text-white dark:text-black" for="Mobilenumber">Mobile number</label>
                <input name="mobile_number" id="Mobilenumber" type="text" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md dark:bg-black dark:text-black dark:border-black focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" value="{{ request.user.mobile_number }}">
            </div>
            
            <div>
                <label class="text-white dark:text-black required" for="Organizationname">Organization name</label>
                <input name="organization_name" id="Organizationname" type="text" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md dark:bg-black dark:text-black dark:border-black focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" value="{{ request.user.organization_name }}">
            </div>

            <div>
                <label class="text-white dark:text-black required" for="business">Business</label>
                <input name="business" id="business" type="text" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md dark:bg-black dark:text-black dark:border-black focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" value="{{ request.user.business }}">
            </div>

            <div>
                <label class="text-white dark:text-black" for="Businessmanagername">Business manager name</label>
                <input name="business_manager_name" id="Businessmanagername" type="text" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md dark:bg-black dark:text-black dark:border-black focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" value="{{ request.user.business_manager_name }}">
            </div>

        <div>
            <label class="block text-sm font-medium text-white">
            Brand Logo
            </label>
            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-white border-dashed rounded-md">
                <div class="space-y-1 text-center">
                <svg class="mx-auto h-12 w-12 text-white" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="flex text-sm text-black">
                    <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                    <span class="">Upload Brand Logo</span>
                    <input id="file-upload" name="brand_logo_file" type="file" class="sr-only">
                    </label>
                    <p class="pl-1 text-white">or drag and drop</p>
                </div>
                <p class="text-xs text-white">
                    PNG, JPG, GIF up to 2.5 MB
                </p>
                </div>
            </div>
            <div class="flex justify-start mt-6">
                <button type="submit" class="m-1 px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-black rounded-md hover:bg-black focus:outline-none focus:bg-black">Save Changes</button>
                <a class="m-1 px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-black rounded-md hover:bg-black focus:outline-none focus:bg-black hover:no-underline" href="{% url 'password_change' %}">Change Password</a>
            </div>
        </div>
    </form>
</section>
{% endblock body %}