{% extends 'core/_base.html' %}
{% block title %} Account Data {% endblock title %}
{% block body %}
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet"
  href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">


<section class="py-1">
  <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4 mx-auto mt-24">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">


      <div class="block w-full overflow-x-auto">
        <table class="items-center bg-transparent w-full border-collapse ">
          <thead>
            <tr>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs  border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Account Info
              </th>

              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs  border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Account Activity
              </th>

            </tr>
          </thead>

          <tbody>
            <tr>
              <th
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
                Date joined
                <br>
                {{ request.user.date_joined }}
              </th>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
                <p class="font-bold text-blueGray-700">Logins</p>
                <br>
                <a class="hover:no-underline text-blue-500" href="{% url 'data_view' %}">View All</a>
              </td>
            </tr>
            <tr>
              <th
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700">
                Account privacy changes
                <br>
                <a class="hover:no-underline text-blue-500" href="">View All</a>
              </th>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <p class="font-bold text-blueGray-700"> Logouts</p>
                <br>
                <a class="hover:no-underline text-blue-500" href="">View All</a>
              </td>

            </tr>
            <tr>
              <th
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700">
                Password changes
                <br>
                <a class="hover:no-underline text-blue-500" href="">View All</a>
              </th>

            </tr>


          </tbody>

        </table>
      </div>
    </div>
  </div>
</section>
{% endblock body %}