{% extends 'core/_base.html' %}
{% block title %} Download Your Data {% endblock title %}
{% block body %}
<div class="flex items-center justify-center">
  <div class="max-w-md py-4 px-10 bg-white shadow-lg rounded-lg my-20">
    <h1 class="text-2xl font-bold text-left">Get a Copy of Your Information</h1>
    <div class="flex flex-col items-center">
      <p>
      We'll email you a link to a file with your information. You can receive it in HTML, which may be easier to view, or JSON, which may be easier to import to another service.
      <div class="w-full max-w-xs">
        <form class="bg-white rounded px-8">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
              Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" name="valid_email" value="{{ request.user.email }}">
        </form>
      </p>
      </div>
      <p class="text-center">
        <button class="bg-black hover:bg-purple-500 font-bold py-1 px-3 rounded-full">
          <a class="text-sm text-white hover:no-underline" href="{% url 'password_verification' %}">Next</a>
        </button>
      </p>
    </div>
</div>
{% endblock body %}