{% extends 'core/_base.html' %}
{% block title %} Download Your Data {% endblock title %}
{% load cache %}
{% block body %}
{% cache 500 profile %}
<div class="flex items-center justify-center">
  <div class="max-w-md py-4 px-10 bg-white shadow-lg rounded-lg my-20">
    <h1 class="text-2xl font-bold text-left">Download Requested</h1>
    <div class="flex flex-col items-center">
      <div class="w-full max-w-xs">
        <p>We've started creating a file of your information and will email a link to {{ request.user.email}} once it's ready. It may take up to 48 hours to collect this information and send it to you.</p>
      </div>
      <p class="text-center">
        <button class="bg-black hover:bg-purple-500 font-bold py-1 px-3 rounded-full">
          <a class="text-sm text-white hover:no-underline" href="{% url 'dashboard' %}">Go Dashboard</a>
        </button>
      </p>
    </div>
</div>
{% endcache %}
{% endblock body %}