{% extends 'core/_base.html' %}
{% block title %} Company Profile Settings {% endblock title %}
{% load cache %}
{% block body %}
{% cache 500 profile %}
<div class="flex items-center justify-center">
  <div class="max-w-md py-4 px-10 bg-white shadow-lg rounded-lg my-20">
    <div class="flex justify-center md:justify-end -mt-16">
      <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="{{ request.user.brand_logo.url }}">
    </div>
    <div>
      <h2 class="text-black text-2xl font-semibold">Business:<p class="text-green-800 font-semibold">{{ request.user.business }}</p></h2> 
      <p class="mt-2 text-black">
        Organization name: {{ request.user.organization_name }} <br>
        Email: {{ request.user.email }}<br>
        Member since: {{ request.user.date_joined | date:"M Y"}}<br>
      </p>
    </div>
    <button class="bg-black hover:bg-purple-500 font-bold py-1 px-3 rounded-full">
      <a class="text-sm text-white hover:no-underline" href="{% url 'settings' %}">Update</a>
    </button>
  </div>
</div>
{% endcache %}
{% endblock body %}