{% extends 'core/_base.html' %}
{% block title %} Account Data {% endblock title %}
{% load cache %}
{% block body %}
{% comment %} {% cache 500 password_changes_datatime %} {% endcomment %}
<div class="flex items-center justify-center">
  <div class="max-w-md py-4 px-10 bg-white shadow-lg rounded-lg my-20">
    <h1 class="text-2xl font-bold text-left">Password changes</h1>
    <div class="flex flex-col items-center">
      <div class="w-full max-w-xs">
        <p> {{ request.user.password_changes_datatime }}</p>
      </div>
      <p class="text-center">
        <button class="bg-black hover:bg-purple-500 font-bold py-1 px-3 rounded-full">
          <a class="text-sm text-white hover:no-underline" href="">View More</a>
        </button>
      </p>
    </div>
</div>
{% comment %} {% endcache %} {% endcomment %}
{% endblock body %}