{% extends 'core/_base.html' %}
{% block title %} Update Service {% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
<section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800 mt-20">
    <form method="POST">
        <!-- Security token -->
        {% csrf_token %}
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
            {{ form|crispy }}
        </div>
        <button 
        type="submit"
        class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">
        Save Change</button>
    </form>
</section>
{% endblock body %}