body{
    background-color: black;
    color: white;
    }
    
    h1 {
    color: red;
    }
    
    h6{
    color: red;
    text-decoration: underline;
    }
    
.back-button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 3px;
    cursor: pointer;
    }