<!DOCTYPE html>
<html>

<title>Service Data</title>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 7px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h2>Service Data</h2>
    <table>
        <tr>
            <th>SL.</th>
            <th>Customer</th>
            <th>Service</th>
            <th>Net Total</th>
            <th>Grand Total</th>
            <th>Total Tax</th>
            <th>Charge</th>
            <th>Description</th>
            <th>VAT</th>
            <th>Paid Amount</th>
            
        </tr>
        {% for items in service %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ items.customer }} </td>
            <td>{{ items.service_name }} </td>
            <td>{{ items.net_total }} </td>
            <td>{{ items.grand_total }} </td>
            <td>{{ items.total_tax }} </td>
            <td>{{ items.charge }} </td>
            <td>{{ items.description }} </td>
            <td>{{ items.vat }} </td>
            <td>{{ items.paid_amount }} </td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>