<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% comment %} {% load pwa %}
    {% progressive_web_app_meta %} {% endcomment %}
    <!-- SEO Meta Tags Start -->
    <meta name="author" content="Hossain Chisty(Backend Developer)">
    <meta property="og:title" content="Freshdesk CRM Platform" />
    <meta name="description" content="Freshdesk is smart ERP solution to manage your business. you can keep track of your accounts, customers, products, orders, invoices, expense, purchase, report, return, damage, sales, service, stock, suppliers and more.">
    <meta name="keywords" content="accounts, customers, products, orders, invoices, expense, purchase, report, return, damage, sales, service, stock, suppliers">
    <link rel="canonical" href="">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="">
    <meta property="og:site_name" content="django e-commerce website" />
    <!-- SEO Meta Tags End -->

    <!-- Favicon Icon Start -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Favicon Icon End -->

    <title>{% block title %} Dashboard {% endblock title %}- Freshdesk 🚀</title>

    <!-- Chartjs bundle -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

    <!-- Fontawesome CDN -->
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Google Font CDN -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Tailwind CDN -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- React CDN -->
    <script
      src="https://unpkg.com/react@17/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" />
    
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="
          navbar-nav
          bg-purple-500 bg-opacity-79
          sidebar sidebar-dark
          accordion
        "
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="{% url 'dashboard' %}"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-rocket"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Freshdesk<sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-home"></i>
            <span>Dashboard</span></a
          >
        </li> 
        
        <!-- Nav Item - Analytics -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-chart-line"></i>
            <span>Analytics</span></a
          >
        </li>

        <!-- Customer menus start -->
        {% include 'core/sidemenus/customer_side_menus.html' %}
        <!-- Customer menus end -->

        <!-- Supplier menus start -->
        {% include 'core/sidemenus/supplier_side_menus.html' %}
        <!-- Supplier menus end -->

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Product menus start -->
        {% include 'core/sidemenus/product_side_menus.html' %}
        <!-- Product menus end -->

        <!-- Purchase menus start -->
        {% include 'core/sidemenus/purchase_side_menus.html' %}
        <!-- Purchase menus end -->

        <!-- Sale menus start -->
        {% include 'core/sidemenus/sale_side_menus.html' %}
        <!-- Sale menus end -->

        <!-- Account menus start -->
        {% include 'core/sidemenus/account_side_menus.html' %}
        <!-- Account menus end -->

        <!-- HR menus start -->
        {% include 'core/sidemenus/hr_side_menus.html' %}
        <!-- HR menus end -->

        <!-- Stock menus start -->
        {% include 'core/sidemenus/stock_side_menus.html' %}
        <!-- Stock menus end -->

        <!-- Report menus start -->
        {% include 'core/sidemenus/report_side_menus.html' %}
        <!-- Report menus end -->

        <!-- Return menus start -->
        {% include 'core/sidemenus/return_side_menus.html' %}
        <!-- Return menus end -->

        <!-- Quotation menus start -->
        {% include 'core/sidemenus/quotation_side_menus.html' %}
        <!-- Quotation menus end -->

        <!-- Service menus start -->
        {% include 'core/sidemenus/service_side_menus.html' %}
        <!-- Service menus end -->

        <!-- Damage menus start -->
        {% include 'core/sidemenus/damage_side_menus.html' %}
        <!-- Damage menus end -->

        <!-- Order menus start -->
        {% include 'core/sidemenus/order_side_menus.html' %}
        <!-- Order menus end -->

        <!-- Expense menus start -->
        {% include 'core/sidemenus/expense_side_menus.html' %}
        <!-- Expense menus end -->        
        
        <!-- Settings menus start -->
        {% include 'core/sidemenus/setting_side_menus.html' %}
        <!-- Settings menus end -->

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <li class="nav-item active">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePagesPages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
          <i class="fas fa-shield-alt"></i>
            <span>Authentication</span>
          </a>
          <div
            id="collapsePagesPages"
            class="collapse"
            aria-labelledby="headingPages"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Login Screens:</h6>
              <a class="collapse-item" href="{% url 'logout' %}">Logout</a>
              <a class="collapse-item" href="register.html">Register</a>
              <a class="collapse-item" href="forgot-password.html"
                >Forgot Password</a
              >
            </div>
          </div>
        </li>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="
              navbar navbar-expand navbar-light
              bg-white
              topbar
              mb-4
              static-top
            "
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Alerts -->
              {% include 'core/nav_alert.html' %}
              <!-- Nav Item - Alerts -->

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    Meta Inc.
                  </span>
                  <img
                    class="img-profile rounded-circle"
                    src="https://images.moviefit.me/p/o/71931-josephine-langford.jpg"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="
                    dropdown-menu dropdown-menu-right
                    shadow
                    animated--grow-in
                  "
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" href="{% url 'profile' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="{% url 'settings' %}">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="{% url 'logout' %}"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          {% block body %} {% endblock body %}
        </div>
        <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script> 
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script> 

    <!-- Django Websocket scripts -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
