{% extends 'core/_base.html' %}
{% load total_sale_balance %}
{% load total_expense %}
{% load total_purchase %}
{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 bg-indigo-100 opacity-100 p-4">
        <h4 class="text-gray-800 font-bold text-center">
            <p id="greeting"></p>
        </h4>

        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Total customer -->
        {% include 'core/components/TotalCustomerCard.html' %}
        <!-- End  -->

        <!-- Total Supplier Card  -->
        {% include 'core/components/TotalSupplierCard.html' %}
        <!-- End  -->

        <!-- Total Sale-->
        {% include 'core/components/TotalSaleCard.html' %}
        <!-- End  -->

        <!-- TOTAL EXPENSE -->
        {% include 'core/components/TotalExpenseCard.html' %}
        <!-- End  -->

        <!-- TOTAL PURCHASE COST -->
        {% include 'core/components/TotalPurchaseCostCard.html' %}
        <!-- End  -->

        <!-- TOTAL Sales -->
        {% include 'core/components/TotalSalesCard.html' %}
        <!-- End  -->



        <!-- TODAY EXPENSE -->
        {% include 'core/components/TodayExpenseCard.html' %}
        <!-- End  -->



        {% comment %}
        <!-- Total orders -->
        {% include 'core/components/TotalOrderCard.html' %}
        <!-- End  -->

        <!-- Total Orders Shipped -->
        {% include 'core/components/TotalOrdersShippedCard.html' %}
        <!-- End  -->

        <!-- Orders Processing -->
        {% include 'core/components/OrdersProcessingCard.html' %}
        <!-- End  -->


        <!-- Orders Delivered -->
        {% include 'core/components/OrdersDelivered.html' %}
        <!-- End  --> {% endcomment %}

        <!-- Total Product -->
        {% include 'core/components/TotalProduct.html' %}
        <!-- End  -->

        <!-- Pending Requests Card  -->
        {% comment %} {% include 'core/components/PendingRequestCard.html' %} {% endcomment %}
        <!-- End  -->


    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Sales Overview Area Chart Start -->
        {% include 'core/graph/SalesOverview.html' %}
        <!-- Sales Overview Area Chart End -->

        <!-- Expense Pie Chart Start -->
        {% include 'core/graph/ExpenseSummary.html' %}
        <!-- Expense Pie Chart End -->

        <!-- Today Status - Start -->
        <div class="flex space-x-4">
            <div class="justify-between rounded-xl mt-4 p-4 bg-white shadow-lg">
                <h1 class="text-xl font-bold text-gray-800 mt-4">Today’s Status</h1>
                <div class="flex justify-between space-x-4 text-center mt-6">
                    <div class="bg-indigo-50 rounded-xl p-10">
                        <h3>{% total_balance %}</h3>
                        <span>Total Sales(Tk)</span>
                    </div>
                    <div class="bg-indigo-50 rounded-xl p-10">
                        <h3>{% get_total_purchase %}</h3>
                        <span>Total Purchase(Tk)</span>
                    </div>
                    <div class="bg-indigo-50 rounded-xl p-10">
                        <h3>{% get_total_expsense %}</h3>
                        <span>Expense Total(Tk)</span>
                    </div>
                    <div class="bg-indigo-50 rounded-xl p-10">
                        <h3>12,30</h3>
                        <span>Supplier Due(Tk)</span>
                    </div>
                </div>
            </div>

            <!--- Top Selling Products Start -->
            {% include 'core\service\TopSellingProduct.html' %}
            <!--- Top Selling Products End -->

            <!--  Sessions By Device  -->
            <div class="flex space-x-4">
                <div class="justify-between rounded-xl mt-4">
                    <div class="w-full max-w-2xl mx-auto bg-white rounded-lg border border-gray-200 shadow-lg">
                        <!-- Start Sessions By Device Chart -->
                        <h4 class="text-xl font-bold py-3 px-3 text-black">Our Visitors <br> 
                                <small class="text-gray-800">Different Devices Used to Visit</small>
                        </h4>
                        <hr>
                        <canvas class="p-15 m-2 pb-4" id="chartPie"></canvas>
                        <!-- Required chart.js -->
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        
                        <script>
                            const dataPie = {
                                labels: ["Desktop", "Mobile", "Tablet"],
                                datasets: [
                                    {
                                        label: "Track Device Type",
                                        data: [{{ request.session.pc_visit }}, {{ request.session.mobile_visit }}, {{ request.session.tablet_visit }}],
                            backgroundColor: [
                                "rgb(99 102 241)",
                                "rgb(56 189 248)",
                                "rgb(49 46 129)",
                            ],
                                hoverOffset: 4,
                                                        },
                                                    ],
                                                };

                            const configPie = {
                                type: "pie",
                                data: dataPie,
                                options: {},
                            };

                            var chartBar = new Chart(document.getElementById("chartPie"), configPie);
                        </script>

                        <!-- End Sessions By Device Chart -->
                    </div>
                </div>

                <!--Weekly Sales - start -->
                <div class="flex space-x-4">
                    {% comment %} <div class="justify-between rounded-xl mt-4">
                        <div class="w-full max-w-2xl mx-auto bg-white rounded-lg border border-gray-200 shadow-lg">
                            <header class="px-4 py-3 border-b border-gray-100">
                                <h5 class="font-semibold text-black">Weekly Sales</h5>
                                <p>28 Daily Avg.</p>
                            </header>
                            <div class="p-3">
                                <div class="overflow-x-auto">
                                    <div class="text-center">
                                        <h5 class="font-bold text-black">$456,678</h5>
                                        <p class="text-black">Total Sales</p>
                                        <a href="#" class="d-none d-sm-inline-block btn-sm btn btn-info shadow-sm"><i
                                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    <!-- Sales by Country - start -->
                    <div class="flex space-x-4">
                        <div class="justify-between rounded-xl mt-4">
                            <div class="w-full max-w-2xl mx-auto bg-white rounded-lg border border-gray-200 shadow-lg">
                                <header class="px-4 py-3 border-b border-gray-100">
                                    <h5 class="font-semibold text-black">Sales by Country</h5>
                                </header>
                                <div class="p-3">
                                    <div class="overflow-x-auto">
                                        <table class="table-auto w-full">
                                            <thead class="text-xs font-semibold text-gray-400 bg-gray-50">
                                                <tr>
                                                    <th class="p-2 whitespace-nowrap">
                                                        <div class="text-black font-semibold text-left">Country</div>
                                                    </th>
                                                    <th class="p-2 whitespace-nowrap">
                                                        <div class="text-black font-semibold text-left">Sales</div>
                                                    </th>
                                                    <th class="p-2 whitespace-nowrap">
                                                        <div class="text-black font-semibold text-left">Value</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-sm divide-y divide-gray-100">
                                                <tr>
                                                    <td class="p-2 whitespace-nowrap">
                                                        <div class="flex items-center">
                                                            <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img
                                                                    class="rounded-full"
                                                                    src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard-pro-v105/img/icons/flags/DE.png"
                                                                    width="40" height="40" alt="Germany"></div>
                                                            <div class="font-medium text-gray-800">Germany</div>
                                                        </div>
                                                    </td>
                                                    <td class="p-2 whitespace-nowrap">
                                                        <div class="text-left font-medium text-green-500">2,890</div>
                                                    </td>
                                                    <td class="p-2 whitespace-nowrap">
                                                        <div class="text-left font-medium text-green-500">$2,890.66
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Visitors By Countries -->
                        <div class="flex space-x-4">
                            <div class="justify-between rounded-xl mt-4">
                                <div
                                    class="w-full max-w-2xl mx-auto bg-white rounded-lg border border-gray-200 shadow-lg">
                                    <header class="px-4 py-3 border-b border-gray-100">
                                        <h5 class="font-semibold text-black">Visitors By Countries</h5>
                                    </header>
                                    <div class="p-3">
                                        <div class="overflow-x-auto">
                                            <table class="table-auto w-full">
                                                <thead class="text-xs font-semibold text-gray-400 bg-gray-50">
                                                    <tr>
                                                        <th class="p-2 whitespace-nowrap">
                                                            <div class="text-black font-semibold text-left">Country
                                                            </div>
                                                        </th>
                                                        <th class="p-2 whitespace-nowrap">
                                                            <div class="text-black font-semibold text-left">Visits</div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-sm divide-y divide-gray-100">
                                                    <tr>
                                                        <td class="p-2 whitespace-nowrap">
                                                            <div class="flex items-center">
                                                                <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img
                                                                        class="rounded-full"
                                                                        src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard-pro-v105/img/icons/flags/DE.png"
                                                                        width="40" height="40" alt="Germany"></div>
                                                                <div class="font-medium text-gray-800">Germany</div>
                                                            </div>
                                                        </td>
                                                        <td class="p-2 whitespace-nowrap">
                                                            <div class="text-left font-medium text-green-500">2,890
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- Visitors by country End -->

                        <!--Top Supplier Earnings -->
                        <div class="flex space-x-4">
                            <div class="justify-between rounded-xl mt-4">
                                <div
                                    class="w-full max-w-2xl mx-auto bg-white rounded-lg border border-gray-200 shadow-lg">
                                    <header class="px-4 py-3 border-b border-gray-100">
                                        <h5 class="font-semibold text-gray-800">Top Supplier Earnings</h5>
                                    </header>
                                    <div class="p-3">
                                        <div class="overflow-x-auto">
                                            <table class="table-auto w-full">
                                                <thead class="text-xs font-semibold text-gray-400 bg-gray-50">
                                                    <tr>
                                                        <th class="p-2 whitespace-nowrap">
                                                            <div class="text-black font-semibold text-left">Name</div>
                                                        </th>

                                                        <th class="p-2 whitespace-nowrap">
                                                            <div class="text-black font-semibold text-left">Amount</div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-sm divide-y divide-gray-100">
                                                    <tr>
                                                        <td class="p-2 whitespace-nowrap">
                                                            <div class="flex items-center">
                                                                <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img
                                                                        class="rounded-full"
                                                                        src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/img/team/profile-picture-2.jpg"
                                                                        width="40" height="40" alt="Raj"></div>
                                                                <div class="font-medium text-gray-800">Raj</div>
                                                            </div>
                                                        </td>
                                                        <td class="p-2 whitespace-nowrap">
                                                            <div class="text-left font-medium text-green-500">$1,834
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <!-- Top Supplier Earnings End -->
                    </div>
                    <!-- Sales by Country End -->
                </div>
                <!-- Weekly Sales End -->
            </div>
            <!--  Sessions By Device  End -->
        </div>
        <!-- Today Status - end -->
<!-- /.container-fluid -->


    <!-- Start Graph -->
    {% comment %} <div class="flex flex-row flex-wrap flex-grow mt-2">

        <div class="w-full md:w-1/2 xl:w-1/3 p-6">
            <!--Graph Card-->
            <div class="bg-white border-transparent rounded-lg">
                <div
                    class="bg-gradient-to-b from-gray-300 to-gray-100 uppercase text-gray-800 border-b-2 border-gray-300 rounded-tl-lg rounded-tr-lg p-2">
                    <h5 class="font-bold uppercase text-gray-600">Markting Summary</h5>
                </div>
                <div class="p-5">
                    <canvas id="chartjs-7" class="chartjs" width="undefined" height="undefined"></canvas>
                    <script>
                        new Chart(document.getElementById("chartjs-7"), {
                            "type": "bar",
                            "data": {
                                "labels": ["January", "February", "March", "April"],
                                "datasets": [{
                                    "label": "Page Impressions",
                                    "data": [10, 20, 30, 40],
                                    "borderColor": "rgb(255, 99, 132)",
                                    "backgroundColor": "rgba(255, 99, 132, 0.2)"
                                }, {
                                    "label": "Adsense Clicks",
                                    "data": [5, 15, 10, 30],
                                    "type": "line",
                                    "fill": false,
                                    "borderColor": "rgb(54, 162, 235)"
                                }]
                            },
                            "options": {
                                "scales": {
                                    "yAxes": [{
                                        "ticks": {
                                            "beginAtZero": true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
            <!--/Graph Card-->
        </div>

        <div class="w-full md:w-1/2 xl:w-1/3 p-6">
            <!--Graph Card-->
            <div class="bg-white border-transparent rounded-lg">
                <div
                    class="bg-gradient-to-b from-gray-300 to-gray-100 uppercase text-gray-800 border-b-2 border-gray-300 rounded-tl-lg rounded-tr-lg p-2">
                    <h5 class="font-bold uppercase text-gray-600">Visitors</h5>
                </div>
                <div class="p-5">
                    <canvas id="chartjs-0" class="chartjs" width="undefined" height="undefined"></canvas>
                    <script>
                        new Chart(document.getElementById("chartjs-0"), {
                            "type": "line",
                            "data": {
                                "labels": ["January", "February", "March", "April", "May", "June", "July"],
                                "datasets": [{
                                    "label": "Visitors",
                                    "data": [65, 59, 80, 81, 56, 55, 40],
                                    "fill": false,
                                    "borderColor": "rgb(75, 192, 192)",
                                    "lineTension": 0.1
                                }]
                            },
                            "options": {}
                        });
                    </script>
                </div>
            </div>
            <!--/Graph Card-->
        </div>

        <div class="w-full md:w-1/2 xl:w-1/3 p-6">
            <!--Graph Card-->
            <div class="bg-white border-transparent rounded-lg">
                <div
                    class="bg-gradient-to-b from-gray-300 to-gray-100 uppercase text-gray-800 border-b-2 border-gray-300 rounded-tl-lg rounded-tr-lg p-2">
                    <h5 class="font-bold uppercase text-gray-600">Graph</h5>
                </div>
                <div class="p-5"><canvas id="chartjs-4" class="chartjs" width="undefined" height="undefined"></canvas>
                    <script>
                        new Chart(document.getElementById("chartjs-4"), {
                            "type": "bar",
                            "data": {
                                "labels": ["P1", "P2", "P3"],
                                "datasets": [{
                                    "label": "Issues",
                                    "data": [300, 50, 100],
                                    "backgroundColor": ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"]
                                }]
                            }
                        });
                    </script>
                </div>
            </div>
            <!--/Graph Card-->
        </div>
    </div> {% endcomment %}
    <!-- End Graph -->

</div>
<!-- End of Main Content -->

<!-- Footer -->

<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<script type="text/babel">
    class Greeting extends React.Component {
        render() {
            const currentTime = new Date().getHours();
            return (
                <>
                    {% load cache %}
                    {% cache 700 owner_name %} 👋 {{ request.user.owner_name }} {% endcache %}, Good{" "}
                    {currentTime >= 12
                        ? currentTime >= 16
                            ? "Evening🌇"
                            : "Afternoon🌆"
                        : "Morning​​🌅"}
                </>
            );
        }
    }

    ReactDOM.render(<Greeting />, document.getElementById("greeting"));
</script>

{% endblock body %}