<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesReport" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-bug"></i>
        <span>Report</span></a>
    </a>
    <div id="collapsePagesReport" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="login.html">Closing</a>
            <a class="collapse-item" href="login.html">Closing Report</a>
            <a class="collapse-item" href="login.html">Today's Report</a>
            <a class="collapse-item" href="login.html">Today's Customer Report</a>
            <a class="collapse-item" href="login.html">Sales Report</a>
            <a class="collapse-item" href="login.html">Supplier Return</a>
            <a class="collapse-item" href="login.html">Tex Report</a>
            <a class="collapse-item" href="login.html">Purchase Report</a>
        </div>
    </div>
</li>