<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesReturn" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-exchange-alt"></i>
        <span>Return</span></a>
    </a>
    <div id="collapsePagesReturn" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="login.html">Return</a>
            <a class="collapse-item" href="login.html">Stock Return List</a>
            <a class="collapse-item" href="login.html">Supplier Return List</a>
            <a class="collapse-item" href="login.html">Wastage Return List</a>
        </div>
    </div>
</li>