{% extends 'core/_base.html' %}

{% block title %} Customers {% endblock title %}
{% block body %}

<div class="container-fluid">
    <!-- Customer Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Manage Customer</h6>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-plus"></i> Add Customer</button>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>Customer Name</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <th>Address</th>
                            <th>Balance</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Hossain Chisty</td>
                            <td>demo@gmail.com</td>
                            <td>1232137982372</td>
                            <td>Dinajpur</td>
                            <td>$190</td>
                            <td>
                                <i class="material-icons m-2 text-blue-600">
                                    <a href="" class="text-decoration-none">&#xE254;</a> </i>
                                <i class="material-icons">
                                    <a href=""
                                        class="text-decoration-none  text-red-600 hover:text-red-600">&#xE872;</a></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Customer Table -->
</div>
{% endblock body %}