{% extends 'core/_base.html' %}
{% load customer_tags %}
{% load static %}
{% block title %} Customers {% endblock title %}
{% block body %}
<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">

<div class="container-fluid">
    <!-- Customer Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Manage Customer</h6>
        </div>
        {% if customers %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th  class="text-center">Customer Name</th>
                            <th  class="text-center">Email</th>
                            <th  class="text-center">Mobile Number</th>
                            <th  class="text-center">Country</th>
                            <th  class="text-center">Address</th>
                            <th  class="text-center">Balance</th>
                            <th  class="text-center">Action</th>
                        </tr>
                    </thead>

                    
                    {% for customer in customers %}
                    <tbody>
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ customer.customer_name}}</td>
                            <td>{{ customer.customer_email }}</td>
                            <td>{{ customer.mobile_no }}</td>
                             {% comment %} FIXME: Make responsive to country flag  {% endcomment %}
                            <td>
                               <img class="" src="{{ customer.city.flag }}" alt="{{ customer.city.code }}">
                               {{ customer.city.name }}
                            </td>
                            <td>{{ customer.customer_address|truncatechars:9  }}</td>
                            <td>${{ customer.balance|floatformat:2 }}</td>
                            <td class="text-center">
                                <button>
                                    <a class="text-white hover:no-underline py-1 px-3 text-white rounded-lg bg-red-500 block md:inline-block" data-toggle="modal" data-target="#deleteModal" href="{{ customer.get_delete_url }}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                    </button>

                                    <button>
                                        <a class="text-white hover:no-underline py-1 px-3 text-white rounded-lg bg-green-400 block md:inline-block" href="{{ customer.get_update_url }}">
                                            <i class="fa fa-edit" style="font-size:20px"></i>
                                        </a>
                                    </button>

                            </td>
                        </tr>
                    </tbody>
                    <!-- customer delete modal start -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <form action="{{ customer.get_delete_url }}" method="post">
                            <!-- Security token -->
                            {% csrf_token %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Are you sure you want to delete this? 
                                        <br>This action cannot be undone.</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <input class="text-white hover:no-underline py-1 px-3 text-white rounded-lg bg-red-500 block md:inline-block" type="submit" value="Yes">
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                    <!-- customer delete modal end -->
                    {% endfor %}
                    <th colspan="6.6" class="text-right">Total: {% total_balance %}</th>
                    <th></th>
                </table>
            </div>
            <!--- Pagination Start -->
            <div class="flex items-center justify-center lg:px-0 sm:px-6">
                <div class="lg:w-3/5 w-full  flex items-center justify-between border-t border-gray-200">
                    <div class="flex items-center pt-3 text-gray-600 hover:text-indigo-700 cursor-pointer">
                        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M1.1665 4L4.49984 7.33333" stroke="currentColor" stroke-width="1.25"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M1.1665 4.00002L4.49984 0.666687" stroke="currentColor" stroke-width="1.25"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        {% if customers.has_previous %}
                        <a class="text-sm ml-3 font-medium leading-none " href="?page={{ customers.previous_page_number }}">Previous</a>
                      {% endif %}
                    </div>
                    <div class="sm:flex hidden">
                    {% for i in customers.paginator.page_range %}
                        {% if customers.number == i %}
                            <a class="text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 border-t border-transparent hover:border-indigo-400 pt-3 mr-4 px-2" href="#">{{ i }} </a>
                        
                        {% else %}
                            <a class="text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 border-t border-transparent hover:border-indigo-400 pt-3 mr-4 px-2" href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="flex items-center pt-3 text-gray-600 hover:text-indigo-700 cursor-pointer">
                        {% if customers.has_next %}
                        <a class="text-sm font-medium leading-none mr-3" href="?page={{ customers.next_page_number }}">Next</a>
                      {% endif %}
                        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M9.5 7.33333L12.8333 4" stroke="currentColor" stroke-width="1.25"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9.5 0.666687L12.8333 4.00002" stroke="currentColor" stroke-width="1.25"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </div>
                </div>
            </div>
            <p class="text-base">Showing {{ customers.number }}/{{ customers.paginator.num_pages }}</p>
            <!--- Pagination End -->
        </div>
        {% else %}
        {% include 'core/info/message.html' %}
        {% endif %}
    </div>
    <!-- Customer Table -->
</div>
{% endblock body %}