{% extends 'core/_base.html' %}
{% load crispy_forms_tags %}
{% block title %} New Password {% endblock title %}
{% block body %}
<style>
    .asteriskField {
        color: red;
    }
</style>
<div class="flex items-center justify-center">
<div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
    <div class="flex justify-center md:justify-end -mt-16">
      <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="{{ request.user.brand_logo.url }}">
    </div>
    <div>
        <h2 class="text-gray-800 text-2xl font-semibold">Hi, {{ request.user.owner_name }}</h2>
        <p class="text-center text-1xl">Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="POST" novalidate>
            <!-- Security token -->
            {% csrf_token %}
            {{ form|crispy }}
            <div class="flex justify-start mt-6">
                <button type="submit" class="px-2 py-2 leading-5 text-white transition-colors duration-200 transform bg-purple-500 bg-opacity-79 rounded-md hover:bg-black focus:outline-none focus:bg-black">Change Password</button>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock body %}