<!DOCTYPE html>
<html>
<title>Sales Data</title>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 7px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h2>Sales Data</h2>
    <table>
        <tr>
            <th>SL.</th>
            <th>Invoice No</th>
            <th>Customer Name</th>
            <th>Product Name</th>
            <th>Date</th>
            <th>Discount</th>
            <th>Payment Method</th>
            <th>Status</th>
            <th>Total Profit</th>
            <th>Due</th>
            <th>Total Amount</th>
        </tr>
        {% for item in sales %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.invoice_number }}</td>
            <td>{{ item.customer }}</td>
            <td>{{ item.product }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.payment_method }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.total_profit }}</td>
            <td>{{ item.due }}</td>
            <td>{{ item.total }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>