{% load today_expense %}
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-danger shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
            TODAY EXPENSE
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{% get_today_expsense %}</div>
        </div>
        <div class="col-auto">
          <i class="fas fa-hourglass-start"></i>
        </div>
      </div>
    </div>
  </div>
</div>
