{% load total_purchase %}
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">
                        <a class="text-primary hover:no-underline" href="{% url 'manage_purchase' %}">TOTAL PURCHASE COST</a>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% get_total_purchase %} <small class="text-black">BDT</small></div>
                </div>
                <div class="col-auto">
                    <i class="far fa-money-bill-alt"></i>
                </div>
            </div>
        </div>
    </div>
</div>