{% extends 'core/_base.html' %}
{% block title %} Supplier {% endblock title %}
{% block body %}
<div class="container-fluid">
    <!-- Suppliers Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Supplier List</h6>
        </div>
        {% if suppliers %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th class="text-center">Supplier Name</th>
                            <th class="text-center">Address</th>
                            <th class="text-center">Mobile No</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Zip code</th>
                            <th class="text-center">Country</th>
                            <th class="text-center">Balance</th>
                        </tr>
                    </thead>

                    {% for supplier in suppliers %}
                    <tbody>
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="text-center">{{ supplier.supplier_full_name }}</td>
                            <td class="text-center">{{ supplier.supplier_address }}</td>
                            <td class="text-center">{{ supplier.supplier_phone }}</td>
                            <td class="text-center">{{ supplier.supplier_email }}</td>
                            <td class="text-center">{{ supplier.supplier_zip_code }}</td>
                            <td class="text-center">{{ supplier.supplier_country }}</td>
                            <td class="text-center">{{ supplier.supplier_previous_balance }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% else %}
        {% include 'core/info/message.html' %}
        {% endif %}
    </div>
    <!-- Suppliers Table -->
</div>
{% endblock body %}
