{% extends 'core/_base.html' %}
{% block title %} Manage Category {% endblock title %}
{% block body %}
<div class="container-fluid">
    <!-- Category Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Manage Category</h6>
        </div>
        {% if category %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>Category Name</th>
                            <th>Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    {% for item in category %}
                    <tbody>
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.name }}</td>
                            {%if item.is_active == True %}
                            <td>Active</td>
                            {% else %}
                            <td>Inactive</td>
                            {%endif%}
                            <td class="text-center">
                                <button
                                    class="py-1 px-3 text-white rounded-lg bg-green-400 block md:inline-block">
                                    <a class="text-white hover:no-underline" href=""></a>
                                    <i class="fa fa-edit" style="font-size:20px"></i></button>                                
                                <button
                                    class="py-1 px-3 text-white rounded-lg bg-red-500 block md:inline-block">
                                    <a class="text-white hover:no-underline" href=""></a>
                                    <i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <!-- TODO: Dynamic Pagination  -->
            <!--- Pagination Start -->
            <div class="flex items-center justify-center lg:px-0 sm:px-6">
                <div class="lg:w-3/5 w-full  flex items-center justify-between border-t border-gray-200">
                    <div class="flex items-center pt-3 text-gray-600 hover:text-indigo-700 cursor-pointer">
                        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M1.1665 4L4.49984 7.33333" stroke="currentColor" stroke-width="1.25"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M1.1665 4.00002L4.49984 0.666687" stroke="currentColor" stroke-width="1.25"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="text-sm ml-3 font-medium leading-none ">Previous</p>
                    </div>
                    <div class="sm:flex hidden">
                        <p
                            class="text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 border-t border-transparent hover:border-indigo-400 pt-3 mr-4 px-2">
                            1</p>
                        <p
                            class="text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 border-t border-transparent hover:border-indigo-400 pt-3 mr-4 px-2">
                            2</p>
                        <p
                            class="text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 border-t border-transparent hover:border-indigo-400 pt-3 mr-4 px-2">
                            3</p>
                        <p
                            class="text-sm font-medium leading-none cursor-pointer text-indigo-700 border-t border-indigo-400 pt-3 mr-4 px-2">
                            4</p>
                        <p
                            class="text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 border-t border-transparent hover:border-indigo-400 pt-3 mr-4 px-2">
                            5</p>
                        <p
                            class="text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 border-t border-transparent hover:border-indigo-400 pt-3 mr-4 px-2">
                            6</p>
                        <p
                            class="text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 border-t border-transparent hover:border-indigo-400 pt-3 mr-4 px-2">
                            7</p>
                        <p
                            class="text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 border-t border-transparent hover:border-indigo-400 pt-3 mr-4 px-2">
                            8</p>
                    </div>
                    <div class="flex items-center pt-3 text-gray-600 hover:text-indigo-700 cursor-pointer">
                        <p class="text-sm font-medium leading-none mr-3">Next</p>
                        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M9.5 7.33333L12.8333 4" stroke="currentColor" stroke-width="1.25"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9.5 0.666687L12.8333 4.00002" stroke="currentColor" stroke-width="1.25"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </div>
                </div>
            </div>
            <p class="text-base">Showing 1/10</p>
            <!--- Pagination End -->
        </div>
        {% else %}
        <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3 p-2" role="alert">
            <p class="font-bold">NOTHING HERE...</p>
            <p class="text-sm">It's empty, here you don't have any data.</p>
          </div>
        {% endif %}
    </div>
    <!-- Category Table -->
    
</div>
{% endblock body %}